/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	height: 100px;
	width:100%;
}

body{
	overflow:hidden;
}

h2{
	
	text-align:left;
	font-family:"Nanum Pen Script", sans-serif;
}

button{
	font-family:"Bitcount Single", sans-serif;
}

.menu li{
	float: left;
	padding: 13px;
	font-size: 22px;

}

.menu li:first-child{
	padding-left:0px;
}



#text{
	display:block;
	width:98px;
}

/* foobar */
/* foobar */
/* foobar */
/* foobar */

header{
	background-color:darkcyan;
	box-shadow:4px 4px 4px darkviolet;
	border-bottom:2px solid white;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9999;
}

input{
	height:24px;
	width:125px;
	margin-bottom:13px;
	font-size:14px;
}

button{
	width:150px;
	height:55px;
	border-radius:13px;
	margin-top:13px;
	font-size:16px;
}

button:hover{
	cursor:pointer;
}

.readers li{
	font-size:18px;
	padding:18px;

}

img{
	margin-left:5px;
	margin-top:16px;
	float:left;
}

h2{
	font-size:27px;
	text-align:left;
	color:hotpink;
	text-decoration:underline;
}

.menu{
	width:100%;
	position:fixed;
	top:60px;
	left:5px;
	z-index:999;
}

.readers li a, .readers li a:visited{
	color:#50C777;
	font-family:"VT323", serif;
	font-size:16px;
}

.menu li a, .menu li a:visited{
	font-family: "Nanum Pen Script", Arial;
	color: cyan;
	font-size:27px;
	text-decoration:none;
}

.menu li:first{
	border-right: 1px solid #CDCDCD;
}

.magick_connecting{
	padding-top:17px;
}


#oracle_interpretation{
	display:none;
}

textarea{
	width:100%;
}

h1{
	position:fixed;
	top:2px;
	width:320px;
	font-size: 39px;
	left:15px;
	float:left;
}

h1 a, h1 a:visited{
	font-size: 36px;
	font-family: 'Bitcount Single', sans-serif;
	color: hotpink;
	text-shadow:2px 3px cyan;
	text-decoration:none;
}

.reading{
	width:100%;
	height:200px;
}

.data{
	width:100%;
}

.magick_li{
	padding: 12px;
}

#querent_textarea, #querent_textarea_trading{
	height:200px;
}

.ANCHOR_partial{
	padding-top:40px;
	padding-left: 5px;
	padding-right:5px;
	overflow-y:auto;
	overflow-x:auto;
	background-color:black;
	position:fixed;
	top:100px;
	width:100%;
	box-sizing:border-box;
	height:calc(100% - 100px);
}


.key_holder{
    width: 100px;
    float: left;
    padding: 15px;
}

.key{
	font-family: monospace;
    white-space: pre;
    color:dimgray;
}

.ANCHOR_partial span:not(.finalSpan){
	font-family:"VT323", serif;
	font-size:16px;
	color:#50C777;
}

.ANCHOR_partial p{
	font-family:"VT323", serif;
}

input{
	height:55px;
	font-family:"VT323", serif;
}

input::placeholder{
	font-family:"VT323", serif;
}

textarea{
	font-family:"VT323", serif;
}


.finalSpan{
	width:100%;
	display:block;
	color:#50C777;

}

.key span{
	text-align: left;
	display: inline-block;
	float: left;
	border:none;
	width:100px;
	display:block;
	height:auto;
	color:#50C777 !important;
	font-family:"VT323", serif;
}

.data{ 
	position:relative;
	font-size: 3px;
}

.title{
	font-size: 16px;
}

.key{
	float: left;
	padding: 6px;
}



.data div{
	float: left;
}

#sun{
	position:fixed;
	top:2px;
	left:5px;
	font-size:32px;
	color:white;
}

button{
	background-color:cyan;
	box-shadow:2px 2px 2px #50C777;
	color:hotpink;
	
}

button:hover{
	background-color:darkcyan;
	box-shadow:2px 2px 2px #50C777;
}

h3{
	padding:16px;
	padding-right:16px;
	padding-left:0px;
	font-size:18px;
	font-family:"Bitcount Single", sans-serif;
	color: cyan;
}

.interpretation, .interpretationTrading{
	height: 400px;
}

.final span{
	height: 180px;
}

.hidden{
	display: none;
}

.data_1{
	
	left: 0;
}

.data_2{
	top: 1%;
	right: 1%;
}

.data_3{
	top: 1%;
	left: 1%;
}

.readers{
	padding: 5px;
}

.final span{
	padding: 7px;
}

h2 a, h2 a:visited{
	color:cyan;
}

.finished{

	color:dimgray;
	font-family:"Bitcount Single", sans-serif;
	width:100%;
	display:block;
}

#oracle_interpretation{
	width:100%;
	display:block;
	color:#50C777;
}

label {
  padding:12px 0px 7px 0px;
  
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

label span{
	padding-right:55px;
	font-size:40px;
}

#trading {
  text-align:right;
  width: 13px;
  height: 13px;
  padding: 5px;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* Smartphones ----------- */
@media only screen and (max-width: 1337px) {
	 .data {
	 	font-size: 2px;
	 }

	 .key_holder{
	 	padding: 3px;
	 }

	 body{
	 	width: 100%;
	 }

	 input[type="text"] {
    	font-size:16px;
	}

	textarea{
		font-size: 16px;
	}
  
  span{
    width:300px;
  }
}