/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	height: 123px;
}

body{
	overflow:hidden;
}

h2{
	font-size: 14px;
	
	text-align:left;
	font-family:"Roboto", sans-serif;
}

button{
	font-family:"Roboto", sans-serif;
}

.menu li{
	float: left;
	padding: 13px;
	font-size: 19px;
}





header{
	height:223px;
	background-color:hotpink;
	box-shadow:2px 2px 3px palegoldenrod;
}

input{
	height:24px;
	width:125px;
	margin-bottom:13px;
	font-size:14px;
}

button{
	width:98px;
	height:55px;
	border-radius:13px;
	margin-top:13px;
}

.readers li{
	font-size:18px;
	padding:18px;

}

img{
	margin-left:27px;
	margin-top:16px;
	float:left;
}

h2{
	font-size:37px;
	text-align:left;
	color:mediumvioletred;
	font-family:"Roboto", "Times New Roman", sans-serif;
}

.menu{
	width:100%;
	position:fixed;
	top:171px;
	left:14px;
	z-index:999;
}

.menu li a{
	font-family: "Nanum Pen Script", Arial;
	color: lightgoldenrodyellow;
	font-size:23px;
}

.menu li:first{
	border-right: 1px solid #CDCDCD;
}

.magick_connecting{
	padding-top:17px;
}

h1{
	position:fixed;
	top:13px;
	width:288px;
	font-size: 48px;
	padding:13px;
	float:left;
	margin-left:14px;
}

h1 a{
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	color: rebeccapurple;
}

.magick_li{
	padding: 12px;
}

#querent_textarea, #querent_textarea_trading{
	width:300px;
	height:200px;
}

.ANCHOR_partial{
	padding-top:40px;
	margin-left: 27px;
	overflow-y:auto;
	overflow-x:auto;
	position:fixed;
	width:100%;
	height:calc(100% - 263px);
}


.key_holder{
    width: 100px;
    float: left;
    padding: 15px;
}

.key{
	font-family: monospace;
    white-space: pre;
}

.ANCHOR_partial span{
	font-family:"Nanum Pen Script",Arial;
	font-size:16px;
}

.key span{
	text-align: center;
	width: 100%;
	display: inline-block;
	float: left;
}

.data{ 
	position:relative;
	font-size: 3px;
}

.title{
	font-size: 16px;
}

.key{
	float: left;
	padding: 6px;
}

.data div{
	float: left;
}

button{
	background-color:salmon;
	box-shadow:2px 2px 0px lightgoldenrodyellow;
}

h3{
	padding:16px;
	padding-left:0px;
	font-size:26px;
	font-family:"Open Sans", sans-serif;
	color: mediumvioletred;
}

.interpretation, .interpretationTrading{
	height: 366px;
	width: 300px;
}

.final span{
	height: 180px;
	width: 333px;
	display: inline-block;
}

.hidden{
	display: none;
}

#data_1{
	
	left: 0;
}

#data_2{
	top: 1%;
	right: 1%;
}

#data_3{
	top: 1%;
	left: 1%;
}

.readers{
	padding: 5px;
}

.final span{
	padding: 7px;
}

.finished{
	color:deepskyblue;
}

label {
  padding:12px 0px 7px 0px;
  
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

label span{
	padding-right:55px;
	font-size:40px;
}

#trading {
  text-align:right;
  width: 13px;
  height: 13px;
  padding: 5px;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* Smartphones ----------- */
@media only screen and (max-width: 1337px) {
	 .data {
	 	font-size: 2px;
	 }

	 .key_holder{
	 	padding: 3px;
	 }

	 body{
	 	width: 100%;
	 }

	 input[type="text"] {
    	font-size:16px;
	}

	textarea{
		font-size: 16px;
	}
}